body {
    background: #b3b3b3;
}

header, div, footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}